
#A1a1 {   
    /**********🟢🟢🟢🟢🟢🟢🟢ข้อความแจ้งบอกใต้ตัวเล่น****************/
    text-align: center;
    font-size: 17px;
    color: #c3d2d9; /* เปลี่ยนสีตามต้องการ */
    animation: fadeIn 1s ease-in-out forwards, fadeOut 2s 80s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
  } /**********🔴🔴🔴🔴🔴🔴จบข้อความแจ้งบอกใต้ตัวเล่น****************/


