
     div.a01 { /*🔴🔴ใช้ขั้นบทความข้างบนไมให้มาชนกับข้างล่าง🔴🔴*/
     position: static;
     border: 0px solid rgb(8, 8, 8);
    } /*🔴*/
    .acin  { /*🟢🟢🟢🟢เส้นบน🟢🟢🟢🟢เส้นบน🟢🟢🟢🟢เส้นบน🟢🟢🟢🟢*/
      text-align: center;
     /* font-family: Arial, sans-serif; /*******ฟอนต์ตัวหนังสือ*********/
    }
